{% extends "base_generic.html" %}
{% block content %}
<style>

p {text-align: center;}
div {text-align: center;}
div.relative {
  position: relative;
  left: 90px;

}
</style>
<div class="relative">
<h1><strong> Why Konnect </strong></h1>
   <p>The purpose of Konnect is to help students clarify their doubts regarding their projects, technical areas
      with their fellow students and seniors. This reduces the burden of being stuck at one place during the project.
      And also share their knowledge to the world! &#128521; &#9996;
       </p>
       <br>
       <h5>Softwares used to build this website,</h5>
       <ul>Framework - Django 2.2</ul>
       <ul>Programming Language - Python 3.6</ul>
       <ul>Database - SQLite3</ul>
       <ul>Front-End - HTML, CSS, Bootstrap</ul>
</div>
{% endblock %}
